# Usa contexto limpio para builds de Docker
**/target
**/.idea
**/.vscode
.git
.gitignore
.env          # <--- AGREGADO: No incluir secretos en la imagen construida
postgres_data # <--- No incluir datos de la BD en la imagen
README.md
HELP.md